<div class="element-full--container">
    <h1 class="element-full--title">n°{{article.id}} - {{ article.title }}</h1>
    <p class="element-full--content">{{ article.content }}</p>

    <div class="element-full--links-wrapper">
        <a [routerLink]="['/articles', article.id, 'update']" class="btn btn-secondary">Modifier</a>
        <app-delete-article class="btn btn-danger" [id_article]="article.id"></app-delete-article>
        <a routerLink="/articles" class="btn btn-dark">Retour à la liste des articles</a>
    </div>

    <div class="element-full--comments-container">
        <h2 class="element-full--comments-title">Commentaires</h2>
        <div class="element-full--comment-wrapper" *ngFor="let comment of article.comments">
            <span class="element-full--comment-user">{{comment.username}}</span>
            <p class="element-full--comment-content">{{comment.content}}</p>
        </div>
    </div>
</div>
