/** pages de liste **/

.container {
    margin-top: 50px;
}

.element-create-button {
    display: block;
    margin: 40px auto 0;
    max-width: 200px;
}

.container-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
}

.element--container {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.category--title {
    margin-bottom: 20px;
}

.element--text-wrapper {
    margin: 20px 0 25px;
}

.element--text-wrapper p {
    margin-bottom: 10px;
}

.element--links-wrapper {
    margin-top: auto;
}

.element--container  .btn {
    border-radius: 0;
    color: white;
    margin-bottom: 10px;
    width: 33%;
}

@media screen and (max-width: 769px) {
    .element--links-wrapper {
        display: flex;
        flex-direction: column;
    }

    .element--container  .btn {
        width: 100%;
        max-width: 300px;
        margin: 0 auto 10px;
    }
}

/** page detail **/

.element-full--container {
    padding: 20px;
}

.element-full--links-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0 60px;
}

.element-full--links-wrapper .btn {
    display: block;
    border-radius: 0;
    color: white;
    margin: 0 20px 10px 0;
    min-width: 240px;
}
.element-full--links-wrapper a:last-of-type {
    margin-right: 0;
}

.element-full--comments-container {
    margin: 20px;
}

.element-full--comments-title {
    margin-bottom: 20px;
}

.element-full--comment-wrapper {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 15px;
}

.element-full--comment-user {
    text-decoration: underline;
    font-size: 1.2em;
    margin-bottom: 15px;
    display: block;
}

.element-full--comment-content {
    margin-bottom: 0;
}

.element-full--commentsCreation-container {
    margin: 40px 20px 20px;
}

.element-full--commentsCreation-container h2 {
    margin-bottom: 20px;
}

@media screen and (max-width: 769px) {
    .element-full--links-wrapper {
        flex-direction: column;
    }

    .element-full--links-wrapper >a {
        margin: 0 auto 10px;
        width: 300px;
    }

    .element-full--links-wrapper a:last-of-type {
        margin-right: auto;
    }
}

/** page form **/

.element-form {
    margin-top: 30px;
}

.element-form label {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.element-form textarea, .element-form input {
    margin-bottom: 30px;
}

.element-form input[type='submit'] {
   margin: 60px auto 20px;
}

.element-form--action {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.element-form .alert {
    margin: -30px 0 30px;
}

/** Components **/

p {
    text-align: justify;
}