/** page articles **/

.container {
    margin-top: 50px;
}

.article-create-button {
    display: block;
    margin: 60px auto 0;
    max-width: 200px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.article--container {
    border: 1px solid black;
    padding: 20px;
    margin-right: 30px;
    height: 100%;
    position: relative;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.article--text-wrapper {
    margin: 20px 0 25px;
}

.article--text-wrapper p {
    margin-bottom: 10px;
}

.article--links-wrapper {
    margin-top: auto;
}

.article--container  .btn {
    border-radius: 0;
    color: white;
    margin-bottom: 10px;
    width: 50%;
}

.article--container  .btn-dark {
    display: block;
    width: 100%;
}

/** page detail articles **/

.article-full--container {
    padding: 20px;
    margin-right: 30px;
}

.article-full--comments-container {
    margin: 20px;
}

.article-full--comments-title {
    margin-bottom: 20px;
}

.article-full--comment-wrapper {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 15px;
}

.article-full--comment-user {
    text-decoration: underline;
    font-size: 1.2em;
    margin-bottom: 15px;
    display: block;
}

.article-full--comment-content {
    margin-bottom: 0;
}

.article-full--header {
    position: relative;
}

.article-full--links-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0 60px;
}

.article-full--links-wrapper a {
    display: block;
    border-radius: 0;
    color: white;
    margin-right: 20px;
}

.article-full--container a:last-child {

}

/** page form admin articles **/

.article-form {
    margin-top: 30px;
}

.article-form label {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.article-form textarea, .article-form input {
    margin-bottom: 30px;
}

.article-form input[type='submit'] {
   margin: 60px auto 20px;
}

.article-form--action {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.article-form .alert {
    margin: -30px 0 30px;
}