<form class="element-form" (submit)="saveArticle()" #articleForm="ngForm">
  <div class="form-group">
    <label for="article-title">Titre de l'article</label>
    <input class="form-control" #titleField="ngModel" required minlength="10" type="text"
           id="article-title" name="article-title" [(ngModel)]="article.title">
  </div>

  <div *ngIf="titleField.invalid && (titleField.dirty || titleField.touched)" class="alert alert-danger">
    <div *ngIf="titleField.errors.required">Ce champ est obligatoire</div>
    <div *ngIf="titleField.errors.minlength">Le nom doit contenir au minimum 10 caractères</div>
  </div>

  <div class="form-group">
    <label for="article-content">Contenu de l'article</label>
    <textarea class="form-control" #contentField="ngModel" required minlength="30" type="text"
              id="article-content" rows="7" name="content" [(ngModel)]="article.content">
    </textarea>
  </div>

  <div *ngIf="contentField.invalid && (contentField.dirty || contentField.touched)" class="alert alert-danger">
    <div *ngIf="contentField.errors.required">Ce champ est obligatoire</div>
    <div *ngIf="contentField.errors.minlength">Le texte doit contenir au minimum 30 caractères</div>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-select multiple placeholder="Catégorie" required
                  id="article-categories" name="article-categories"
                  #categoriesField="ngModel" [(ngModel)]="article.categories">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{category.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <input class="btn btn-dark element-form--action" type="submit" [disabled]="articleForm.invalid">
</form>

<a [routerLink]="backRoute" class="btn btn-secondary element-form--action">Annuler</a>