<form class="category-form" (submit)="saveCategory()" novalidate #categoryForm="ngForm">
  <div class="form-group">
    <label for="label">Label</label>
    <input class="form-control" #labelField="ngModel" required type="text" id="label" name="label" [(ngModel)]="category.label">
  </div>

  <div *ngIf="labelField.invalid && (labelField.dirty || labelField.touched)"
       class="alert alert-danger">

    <div *ngIf="labelField.errors.required">
      Ce champ est obligatoire
    </div>

  </div>

  <input class="btn btn-dark category-form--action" type="submit" [disabled]="categoryForm.invalid">
</form>
<br>
<a [routerLink]="backRoute" class="btn btn-secondary category-form--action">Annuler</a>

